// app global css in SCSS form
body {
    background-color: $black;
    color: $white;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}

::-webkit-scrollbar-track{
    border-width: 0;
    border-radius: 10px;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

.bg-black {
    background-color: black;
}

.widthPage {
    width: 50%;
}

@media (max-width: 800px) {
    .widthPage {
        width: 100%;
        padding: 0 5%;
    }
}